<div class="overflow-x-auto">
	<div class="mx-auto max-w-3xl">
		<table class="table table-xs">
			<thead>
				<tr class="border-oleojake-primary">
					<th class="text-oleojake-primary">...more</th>
				</tr>
			</thead>
			<tbody>
				<tr class="border-oleojake-primary">
					<td>Bootcamp JavaScript & TypeScript</td>
					<td>lemoncode</td>
					<td>2024</td>
				</tr>
				<tr class="border-oleojake-primary">
					<td>JavaScript Course</td>
					<td>aprendejavascript.dev</td>
					<td>2024</td>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Git & GitHub Course</td>
					<td>/mouredev/hello-git</td>
					<td>2024</td>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Google Ads Search Certification</td>
					<td>Google Skillshop</td>
					<td>2023</td>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Google Ads Display Certification</td>
					<td>Google Skillshop</td>
					<td>2023</td>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Google Shopping Ads Certification</td>
					<td>Google Skillshop</td>
					<td>2023</td>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Google Analytics Certification</td>
					<td>Google Skillshop</td>
					<td>2023</td>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Inbound Marketing Certification</td>
					<td>Hubspot Academy</td>
					<td>2023</td>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Email Marketing Certification</td>
					<td>Hubspot Academy</td>
					<td>2023</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
