<div>
	<p class="text-sm">2016 - 2024</p>
	<h2><strong>Turronesydulces.com</strong> - <u>Ecommerce Manager</u></h2>
	<p>
		Management of an Ecommerce developed in Magento and the supervision of other
		sales channels like Amazon, WordPress or Shopify among others. SEO Strategies,
		Advertising Campaigns, Emailmarketing, Automations, CRM, Web Development, KPIS
		Analysis, Logistics Management, Social Networks, Customer Service and other
		tasks related to the daily maintenance of an online store.
	</p>
</div>
<div>
	<p class="text-sm">2017 - 2024</p>
	<h2>
		<strong>Ecommaster.es School</strong> - <u
			>Digital Marketing & Head of Studies</u
		>
	</h2>
	<p>
		Digital Marketing tasks: Lead Generation, SEO, Facebook Ads, Content Creation,
		CRM, Invoicing, CRM, and Events among others. Maintenance of the school's
		campus as well as the management of a community linked to digital marketing.
	</p>
</div>
<div>
	<p class="text-sm">2016</p>
	<h2><strong>Digital Latam</strong> - <u>Frontend & Elearning Developer</u></h2>
	<p>
		Creation of e-learning projects using HTML, CSS, JS and 2D character
		animation.
	</p>
</div>
