---

---

<dialog id=`my_modal_big_data` class="modal">
	<div class="modal-box max-w-4xl">
		<form method="dialog">
			<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
				>✕</button
			>
		</form>
		<div class="flex flex-col items-center">
			<figure>
				<img
					src=`/events/master-big-data-tourism.png`
					alt="master-big-data-tourism"
					title="master-big-data-tourism"
				/>
			</figure>
		</div>
	</div>
</dialog>

<div class="overflow-x-auto">
	<div class="mx-auto max-w-3xl">
		<table class="table table-xs">
			<tbody>
				<tr class="border-oleojake-primary">
					<td>Master in Ecommerce & Digital Marketing</td>
					<td>Teacher (2018-2024)</td>
					<td>Rey Juan Carlos University of Madrid</td>
					<td
						><a href="https://www.urjc.es/" target="_blank" aria-label="Más información sobre este evento"
							><svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#8F543Bff"
								stroke-linecap="round"
								stroke-linejoin="round"
								color="#8F543Bff"
								class="tabler-icon cursor-pointer tabler-icon-arrow-up-right transition-all duration-300 hover:-translate-y-1"
							>
								<path d="M17 7l-10 10"></path><path d="M8 7l9 0l0 9"></path>
							</svg></a
						></td
					>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Expert Program in Ecommerce & Digital Marketing</td>
					<td>Teacher (2018-2024)</td>
					<td>University of Alicante</td>
					<td
						><a
							href="https://expertomarketingdigitalyecommerce.ua.es/"
							target="_blank"
							aria-label="Más información sobre este evento"
							><svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#8F543Bff"
								stroke-linecap="round"
								stroke-linejoin="round"
								color="#8F543Bff"
								class="tabler-icon cursor-pointer tabler-icon-arrow-up-right transition-all duration-300 hover:-translate-y-1"
							>
								<path d="M17 7l-10 10"></path><path d="M8 7l9 0l0 9"></path>
							</svg></a
						></td
					>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Master in Ecommerce & Digital Marketing</td>
					<td>Teacher (2018-2024)</td>
					<td>Ecommaster.es School</td>
					<td
						><a href="https://ecommaster.es/" target="_blank" aria-label="Más información sobre este evento"
							><svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#8F543Bff"
								stroke-linecap="round"
								stroke-linejoin="round"
								color="#8F543Bff"
								class="tabler-icon cursor-pointer tabler-icon-arrow-up-right transition-all duration-300 hover:-translate-y-1"
							>
								<path d="M17 7l-10 10"></path><path d="M8 7l9 0l0 9"></path>
							</svg></a
						></td
					>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Master in Big Data & Tourism</td>
					<td>Teacher (2018)</td>
					<td>Miguel Hernández University</td>
					<td
						><svg
							onclick=`my_modal_big_data.showModal()`
							xmlns="http://www.w3.org/2000/svg"
							width="22"
							height="22"
							viewBox="0 0 24 24"
							fill="none"
							stroke="#8F543Bff"
							stroke-linecap="round"
							stroke-linejoin="round"
							color="#8F543Bff"
							class="tabler-icon cursor-pointer tabler-icon-arrow-up-right transition-all duration-300 hover:-translate-y-1"
						>
							<path d="M17 7l-10 10"></path><path d="M8 7l9 0l0 9"></path>
						</svg></td
					>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Digitalization of company processes</td>
					<td>Event (2021)</td>
					<td>CEEI Elche</td>
					<td
						><a
							href="https://ceeielche.emprenemjunts.es/?op=14&n=19103"
							target="_blank"
							aria-label="Mási nformación sobre este evento"
							><svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#8F543Bff"
								stroke-linecap="round"
								stroke-linejoin="round"
								color="#8F543Bff"
								class="tabler-icon cursor-pointer tabler-icon-arrow-up-right transition-all duration-300 hover:-translate-y-1"
							>
								<path d="M17 7l-10 10"></path><path d="M8 7l9 0l0 9"></path>
							</svg></a
						></td
					>
				</tr>
				<tr class="border-oleojake-primary">
					<td>EcommerceTour #Valencia</td>
					<td>Event (2020)</td>
					<td>EcommerceNews</td>
					<td
						><a
							href="https://ecommerce-news.es/ecommerce-tour-valencia-2020-case-study-20-anos-de-venta-online/"
							target="_blank"
							aria-label="Más información sobre este evento"
							><svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#8F543Bff"
								stroke-linecap="round"
								stroke-linejoin="round"
								color="#8F543Bff"
								class="tabler-icon cursor-pointer tabler-icon-arrow-up-right transition-all duration-300 hover:-translate-y-1"
							>
								<path d="M17 7l-10 10"></path><path d="M8 7l9 0l0 9"></path>
							</svg></a
						></td
					>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Marketplaces: The new online shopping centres</td>
					<td>Event (2020)</td>
					<td>FOCUSPYME</td>
					<td
						><a
							href="https://ceeielche.emprenemjunts.es/?op=14&n=17530"
							target="_blank"
							aria-label="Más información sobre este evento"
							><svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#8F543Bff"
								stroke-linecap="round"
								stroke-linejoin="round"
								color="#8F543Bff"
								class="tabler-icon cursor-pointer tabler-icon-arrow-up-right transition-all duration-300 hover:-translate-y-1"
							>
								<path d="M17 7l-10 10"></path><path d="M8 7l9 0l0 9"></path>
							</svg></a
						></td
					>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Executive Program of Tools to Digitalize your Company</td>
					<td>Event (2019)</td>
					<td>Fundeun</td>
					<td
						><a
							href="https://fundeun.es/evento/programa-executive-de-herramientas-para-digitalizar-tu-empresa/"
							target="_blank"
							aria-label="Más información sobre este evento"
							><svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#8F543Bff"
								stroke-linecap="round"
								stroke-linejoin="round"
								color="#8F543Bff"
								class="tabler-icon cursor-pointer tabler-icon-arrow-up-right transition-all duration-300 hover:-translate-y-1"
							>
								<path d="M17 7l-10 10"></path><path d="M8 7l9 0l0 9"></path>
							</svg></a
						></td
					>
				</tr>
				<tr class="border-oleojake-primary">
					<td>1st Hackaton Ecommerce in Spain</td>
					<td>Event (2019)</td>
					<td>Ecommaster.es School</td>
					<td
						><a
							href="https://congreso.ecommaster.es/7-congreso-de-marketing-online-y-ecommerce-en-alicante-2019/"
							target="_blank"
							aria-label="Más información sobre este evento"
							><svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#8F543Bff"
								stroke-linecap="round"
								stroke-linejoin="round"
								color="#8F543Bff"
								class="tabler-icon cursor-pointer tabler-icon-arrow-up-right transition-all duration-300 hover:-translate-y-1"
							>
								<path d="M17 7l-10 10"></path><path d="M8 7l9 0l0 9"></path>
							</svg></a
						></td
					>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Ecommerce training for unemployed</td>
					<td>Event (2020)</td>
					<td>Murcia City Hall</td>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Practical Ecommerce</td>
					<td>Event (2018)</td>
					<td>Xàbia City Hall</td>
				</tr>
				<tr class="border-oleojake-primary">
					<td>Winner of the ‘Open Data’ Contest</td>
					<td>Contest (2016)</td>
					<td>University of Alicante</td>
					<td
						><a
							href="https://congreso.ecommaster.es/7-congreso-de-marketing-online-y-ecommerce-en-alicante-2019/"
							target="_blank"
							aria-label="Más información sobre este evento"
							><svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#8F543Bff"
								stroke-linecap="round"
								stroke-linejoin="round"
								color="#8F543Bff"
								class="tabler-icon cursor-pointer tabler-icon-arrow-up-right transition-all duration-300 hover:-translate-y-1"
							>
								<path d="M17 7l-10 10"></path><path d="M8 7l9 0l0 9"></path>
							</svg></a
						></td
					>
				</tr>
			</tbody>
		</table>
	</div>
</div>
