---
const d = new Date();
let year = d.getFullYear();
---

<footer class="text-center text-xs mt-4">
	<hr class="border border-oleojake-primary"/>
	<p class="mt-2">
		Copyright © {year} Pablo Marzal - OleojakeDEV - All rights reserved.
	</p>
</footer>
